---
import Accessories from '../components/Accessories.astro';
import ChargeSection from '../components/ChargeSection.astro';
import HeroSection from '../components/HeroSection.astro';
import LandingHeader from '../components/LandingHeader.astro';
import ModelS from '../components/ModelS.astro';
import ModelX from '../components/ModelX.astro';
import ModeloY from '../components/ModeloY.astro';
import Powerwall from '../components/Powerwall.astro';
import SolarPanels from '../components/SolarPanels.astro';
import SolarRoof from '../components/SolarRoof.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Tesla | El auto de mis sueños">
	<LandingHeader />
	
	<main class="snap-y snap-mandatory relative w-full h-screen overflow-auto">
		<div class="snap-center">
			<HeroSection />
		</div>
		<div class="snap-center">
			<ChargeSection />
		</div>
		<div class="snap-center">
			<ModeloY />
		</div>
		<div class="snap-center">
			<ModelS />
		</div>
		<div class="snap-center">
			<ModelX />
		</div>
		<div class="snap-center">
			<SolarPanels />
		</div>
		<div class="snap-center">
			<SolarRoof />
		</div>
		<div class="snap-center">
			<Powerwall />
		</div>
		<div class="snap-center">
			<Accessories />
		</div>
	</main>
</Layout>

