<section class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden"
data-header-color="black">
    <div class="z-30 relative h-full flex flex-col">
        <header>
            <h2 class="text-black pt-[5rem] text-[40px] font-medium">Accessories</h2>
        </header>

        <footer class="flex flex-col flex-grow justify-end">
            <div class="flex gap-x-4 mx-auto">
                <a class="border-[3px] border-transparent bg-black/90 text-sm text-white rounded-md font-medium px-24 py-2 hover:bg-white hover:text-black inline-block" href="#">Shop Now</a>
            </div> 

            <nav class="flex content-end mt-10 justify-center pb-5">
                <ul class="flex text-xs justify-center [&>li>a]:transition-colors [&>li>a]:duration-500 [&>li>a]:text-gray-600 [&>li>a]:font-medium [&>li>a]:inline-block [&>li>a]:px-2 [&>li>a]:py-2">
                    <li><a href="#">Tesla @ 2023</a></li>
                    <li><a href="#">Privacy & Legal</a></li>
                    <li><a href="#">Vehicle Recalls</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="#">Get Updates</a></li>
                    <li><a href="#">Locations</a></li>
                </ul>
            </nav>
    </div>
    <div class="absolute top-0 bottom-0 h-full w-full z-10">
        <img class="h-full w-full object-cover object-center" src="/public/accessories.avif" alt="Accessories">
    </div>
</section>