<section class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden"
data-header-color="black">
    <div class="z-30 relative h-full flex flex-col">
        <header>
            <h2 class="text-black pt-[5rem] text-[40px] font-medium">Model S</h2>
            <p class="text-black text-sm underline underline-offset-4 tracking-wide">Explore Inventory</p>
        </header>

        <footer class="flex flex-col flex-grow justify-end pb-20">
            <div class="flex gap-x-4 mx-auto">
                <a class="border-[3px] border-white bg-white text-sm rounded font-medium px-16 py-2 transition-colors hover:bg-gray-600 hover:border-gray-600 hover:text-white  text-gray-700 inline-block" href="#">Custom Order</a>
                <a class="border-[3px] border-gray-600 bg-gray-600 text-sm rounded font-medium text-white px-20 py-2 hover:bg-white hover:border-white transition-colors hover:text-gray-600  inline-flex justify-center items-center" href="#">Demo Drive</a>
            </div> 
    </div>
    <div class="absolute top-0 bottom-0 h-full w-full z-10">
        <img class="h-full w-full object-cover object-center" src="/public/model-S.jpg" alt="Model S">
    </div>
</section>